@inject NavigationManager NavManager

<div class="flex flex-col w-1/4 gap-y-3">
	<p class="text-xl font-medium text-black">Current trip: Toronto 2022</p>
	<button class="p-3 rounded bg-cream2 hover:bg-cream3 transition-all text-center text-xl text-black"
		@onclick="favorite">Favorite</button>
	@if (step == 4)
	{
		<div class="w-full text-xl font-medium text-cream bg-green p-3 rounded text-center">Added to Trip!</div>
	}
	else if (step == 0)
	{
		<button class=" p-3 rounded bg-blue hover:bg-blue2 transition-all text-center text-xl text-cream"
		@onclick="addToTrip">Add to
			Trip</button>
	}
	@if (step == 1)
	{
		<div class="flex flex-col gap-y-2 border-2 border-black rounded p-2 justify-center items-center">
			<div class="w-full text-center border-b-2 border-black">
				<p class="text-lg font-medium text-black">Existing Trips</p>
			</div>
			<ul class="flex flex-col gap-y-1 justify-center items-center w-full">
				<li class="p-2 bg-cream hover:bg-cream3 transition-all rounded cursor-pointer text-center w-full"
				@onclick="() => setTrip(0)">
					<p class="text-md text-black">Toronto 2022</p>
				</li>
				<li class="p-2 bg-cream hover:bg-cream3 transition-all rounded cursor-pointer text-center w-full"
				@onclick="() => setTrip(1)">
					<p class="text-md text-black">Miami 2019</p>
				</li>
				<li
				class="flex flex-row justify-center items-center gap-x-2 p-2 bg-cream hover:bg-cream3 transition-all rounded cursor-pointer text-center w-full"
				@onclick="addTrip">
					<p class="text-md text-black">ADD TRIP</p>
					<svg version="1.1" id="Capa_1" class="h-4 w-4 text-black" viewBox="0 0 27.963 27.963"
					style="enable-background:new 0 0 27.963 27.963;" xml:space="preserve">
						<path
						d="M13.98,0C6.259,0,0,6.26,0,13.982s6.259,13.981,13.98,13.981c7.725,0,13.983-6.26,13.983-13.981 C27.963,6.26,21.705,0,13.98,0z M21.102,16.059h-4.939v5.042h-4.299v-5.042H6.862V11.76h5.001v-4.9h4.299v4.9h4.939v4.299H21.102z" />
					</svg>
				</li>
			</ul>
		</div>
	}
	@if (step == 2)
	{
		<div class="flex flex-col gap-y-2 border-2 border-black rounded p-2 justify-center items-center">
			<div class="w-full text-center border-b-2 border-black">
				<p class="text-lg font-medium text-black">Choose Date & Time</p>
			</div>
			<div class="flex flex-col gap-y-1 w-full">
				<p class="text-md text-black">Date:</p>
				<RadzenDatePicker @bind-Value=@day DateFormat="MM-dd-yyyy" class="w-full focus:outline-none" />
				<p class="text-md text-black">Time:</p>
				<RadzenDatePicker @bind-Value=@time ShowTime="true" TimeOnly="true" HourFormat="12" DateFormat="HH:mm"
				class="w-full focus:outline-none" />
			</div>
			<img src="/images/toronto-city-map.jpeg" class="w-full h-full" />
			<div class="flex flex-row justify-center items-center w-full gap-x-2">
				<button class="py-2 bg-red2 hover:bg-red text-cream text-md focus:outline-none rounded transition-all w-1/3"
				@onclick="cancel">Cancel</button>
				<button class="py-2 bg-blue hover:bg-blue2 text-cream text-md focus:outline-none rounded transition-all w-1/3"
				@onclick="addToTrip">Next</button>
			</div>
		</div>
	}
	@if (step == 3)
	{
		<div class="flex flex-col gap-y-2 border-2 border-black rounded p-2 justify-center items-center">
			<div class="w-full text-center border-b-2 border-black">
				<p class="text-lg font-medium text-black">Confirm Details</p>
			</div>
			<div class="flex flex-col gap-y-1 w-full">
				<p class="text-md text-black">Date:</p>
				<RadzenDatePicker @bind-Value=@day DateFormat="MM-dd-yyyy" ReadOnly="true" class="w-full focus:outline-none" />
				<p class="text-md text-black">Time:</p>
				<RadzenDatePicker @bind-Value=@time ShowTime="true" TimeOnly="true" HourFormat="12" ReadOnly="true"
				DateFormat="HH:mm" class="w-full focus:outline-none" />
			</div>
			<div class="flex flex-row justify-center items-center w-full gap-x-2">
				<button class="py-2 bg-red2 hover:bg-red text-cream text-md focus:outline-none rounded transition-all w-1/3"
				@onclick="cancel">Cancel</button>
				<button class="py-2 bg-blue hover:bg-blue2 text-cream text-md focus:outline-none rounded transition-all w-1/3"
				@onclick="addToTrip">Confirm</button>
			</div>
		</div>
	}
</div>

@code {
	private DateTime day = DateTime.Today;
	private DateTime time = DateTime.Today;
	private int step = 0;
	private int trip = 0;

	void favorite() { }
	void addToTrip() { step += 1; }
	void cancel() { step = 0; }

	void setTrip(int id)
	{
		trip = id;
		step += 1;
	}

	void addTrip()
	{
		NavManager.NavigateTo("/starttrip");
	}
}