<div
	class="flex flex-col justify-center items-center w-1/5 p-2 border-black border-2 rounded cursor-pointer bg-cream hover:bg-cream2 transition-all">
	<p class="text-xl font-bold text-black">@Category</p>
	<img src="@URL" class="p-2" width="80" height="80" alt="@Category icon" />
</div>


@code {
	[Parameter]
	public string Category { get; set; } = "";
	[Parameter]
	public string URL { get; set; } = "";
}