<div class="d-flex w-25 flex-column justify-content-center align-items-center border rounded p-4 mycard"
	style="cursor: pointer;">
	<p class="text-center fs-1 fw-bold">@Category</p>
	<img src="@URL" width="150" height="150" alt="@Category icon" />
</div>


@code {
	[Parameter]
	public string Category { get; set; } = "";
	[Parameter]
	public string URL { get; set; } = "";
}