<div>
	<button
		class="text-black hover:bg-cream3 focus:outline-none font-medium text-lg rounded p-2 text-center inline-flex items-center gap-x-2"
		@onclick="OnClick">
		Hi, @name
		<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
		</svg>
		@* <img src="images/profile-user.png" width="30" height="30" /> *@
	</button>

	@if (isOpen)
	{
		<div class="fixed bg-cream text-base z-50 p-2 list-none divide-y divide-gray-100 rounded shadow-md mt-1">
			<ul class="py-1" aria-labelledby="dropdown">
				<li>
					<a href="#" class="text-lg hover:bg-cream3 text-black block p-2 rounded">Profile</a>
				</li>
				<li>
					<a href="#" class="text-lg hover:bg-cream3 text-black block p-2 rounded">Your Trips</a>
				</li>
				<li>
					<a href="#" class="text-lg hover:bg-cream3 text-black block p-2 rounded">Emergency</a>
				</li>
				<li>
					<a href="#" class="text-lg hover:bg-cream3 text-black block p-2 rounded">Sign out</a>
				</li>
			</ul>
		</div>
	}
</div>

@code {
	[Parameter]
	public string name { get; set; } = "";
	bool isOpen = false;

	void OnClick()
	{
		isOpen = !isOpen;
	}
}