<div class="flex flex-col w-full justify-center items-center p-2 h-full">
	<div class="w-3/4 flex flex-col justify-center items-center gap-y-4 h-full">
		<h2 class="text-2xl font-bold text-black">Emergency Information</h2>

		<form class="w-1/3 p-1 flex flex-row justify-between items-center rounded border-2 border-black">
			<input class="p-2 focus:outline-none bg-cream text-black border-none text-lg w-3/4" type="text"
				placeholder="Ex: Toronto" @bind="city" @bind:event="oninput" />
			<button type="submit" class="p-2 rounded bg-blue text-cream text-lg w-1/4 hover:bg-blue2 transition-all"
				@onclick="onClick" @onclick:preventDefault @onkeypress="onClick" @onkeypress:preventDefault>Search</button>
		</form>

		@if (String.IsNullOrEmpty(city))
		{
			<p class="text-red2 text-sm">Please enter your City.</p>
		}

		@if (showInfo)
		{
			<div class="flex gap-x-4 justify-center w-3/4">
				<div class="flex flex-col w-2/3 gap-y-2">
					<p class="text-lg text-black"><span class="font-bold">Police:</span> 911</p>
					<p class="text-lg text-black"><span class="font-bold">Non-Emergency:</span> 416-808-2222</p>
					<p class="text-lg text-black"><span class="font-bold">Toronto Emergency Medical Services:</span> 416-392-2000
					</p>
					<p class="text-lg text-black"><span class="font-bold">Marine, Air Search & Rescue:</span> 1-800-267-7270</p>
				</div>
				<div class="flex flex-col gap-y-4 w-1/3">
					<RadzenGoogleMap class="h-full rounded border-black border-2" Center=@(new GoogleMapPosition() { Lat = 43.6532, Lng =
					-79.3832 }) />
				</div>
			</div>
		}

	</div>
</div>

@code {
	private string city = String.Empty;
	private bool showInfo = false;
	void onClick() { showInfo = true; }
}