<div class="w-full flex flex-col justify-center items-center p-2">
	<div class="w-3/4 flex flex-col h-full p-2 gap-y-4">
		<h3 class="text-2xl font-medium">Favorites</h3>
		<div class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full">
			<ActivityCard name="iQ Food Co."
				url="https://media-cdn.tripadvisor.com/media/photo-s/0e/6f/e2/69/iq-brookfield-place.jpg" rating="4" price="15"
				category="Food" />
			<ActivityCard name="CN Tower"
				url="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/c7/ae/78/cn-tower.jpg?w=1400&h=-1&s=1"
				rating="3" price="100" category="Landmark" />
			<ActivityCard name="Ripley's aquarium"
				url="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/34/b0/8a/entrance.jpg?w=1600&h=-1&s=1"
				rating="4" price="45" category="Landmark" />
			<ActivityCard name="The Butcher Chef" url="https://resizer.otstatic.com/v2/photos/xlarge/3/28373710.jpg"
				rating="5" price="200" category="Food" />
			<ActivityCard name="CN Tower"
				url="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/c7/ae/78/cn-tower.jpg?w=1400&h=-1&s=1"
				rating="3" price="100" category="Landmark" />
			<ActivityCard name="Ripley's aquarium"
				url="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/34/b0/8a/entrance.jpg?w=1600&h=-1&s=1"
				rating="4" price="45" category="Landmark" />
			<ActivityCard name="The Butcher Chef" url="https://resizer.otstatic.com/v2/photos/xlarge/3/28373710.jpg"
				rating="5" price="200" category="Food" />
		</div>
	</div>
</div>