<footer class="z-10 flex flex-row justify-between items-center w-full mt-auto p-2 px-4">
	<p class="text-black text-md">Made for CPSC 481 by Group 14</p>
	<p class="text-black text-md"><span class="font-medium">Members: </span>Zeyad Omran, Youstina Attia, Brianna
		Hoang,
		Vi Tsang, Yanessa Lacsamana</p>
</footer>