<div class="d-flex p-2 flex-column justify-content-center align-items-center mt-4">
	<div class="w-75 mw-100 d-flex flex-column">
		<div
			class="d-flex flex-column justify-self-center align-self-center justify-content-center align-items-center gap-4">
			<button class="btn btn-lg btn-primary">Start Your Trip</button>
			<p class="p-0 m-0">Or Browse</p>
			<input type="text" class="form-control-lg rounded border" placeholder="Ex: Toronto" />
		</div>
		<div class="d-flex flex-column mt-4">
			<h1>Categories</h1>
			<div class="d-flex flex-row gap-4 align-items-center justify-content-center mt-2">
				<CategoryCard Category="Food" URL="https://i.pinimg.com/564x/dd/9d/c9/dd9dc9d83423bc037b511d73b29e6b80.jpg" />
				<CategoryCard Category="Nature" URL="https://i.pinimg.com/564x/dd/9d/c9/dd9dc9d83423bc037b511d73b29e6b80.jpg" />
				<CategoryCard Category="Landmark"
					URL="https://i.pinimg.com/564x/dd/9d/c9/dd9dc9d83423bc037b511d73b29e6b80.jpg" />
				<CategoryCard Category="Local" URL="https://i.pinimg.com/564x/dd/9d/c9/dd9dc9d83423bc037b511d73b29e6b80.jpg" />
			</div>
		</div>
	</div>
</div>