<div class="flex flex-col h-96 justify-center items-center w-full">
	<div class="w-1/2 flex flex-col justify-center items-center gap-y-4">
		<div class="w-1/3 flex flex-col justify-start items-start gap-y-2">
			<p class="text-black text-xl font-medium">Email:</p>
			<input type="text" class="w-full p-2 focus:outline-none bg-cream text-black text-xl border-black border-2 rounded"
				placeholder="example@gmail.com" />
		</div>

		<div class="w-1/3 flex flex-col justify-start items-start gap-y-2">
			<p class="text-black text-xl font-medium">Password:</p>
			<input type="password"
				class="w-full p-2 focus:outline-none bg-cream text-black text-xl border-black border-2 rounded"
				placeholder="password" />
		</div>

		<div class="w-1/3 flex flex-row justify-center items-center">
			<button class="p-3 rounded bg-blue hover:bg-blue2 transition-all text-center text-xl text-cream">Login</button>
		</div>
		<p class="text-sm text-black hover:text-blue hover:font-medium transition-all cursor-pointer">Forgot Password</p>
	</div>
</div>