@inherits LayoutComponentBase

<PageTitle>Bookie</PageTitle>

<div class="relative flex flex-col p-2 bg-cream min-h-screen min-w-screen">
	<Navbar />
	<main class="flex-1 p-2">
		@Body
	</main>
	<Footer />
</div>
