@inherits LayoutComponentBase

<PageTitle>Bookie</PageTitle>

<div class="relative flex flex-col bg-cream min-h-screen min-w-screen">
	<Navbar name="Zeyad" />
	<main class="flex-1 p-2 mt-20">
		@Body
	</main>
	<Footer />
</div>
