<nav class="d-flex p-2 flex-row justify-content-center align-items-center">
	<div class="w-75 mw-100 d-flex flex-row justify-content-between align-items-center">
		<h3>Bookie</h3>
		<div class="d-flex flex-row align-items-center gap-2">
			<button class="btn btn-primary p-2">Sign Up</button>
			<button class="btn btn-secondary p-2">Log in</button>
		</div>
	</div>
</nav>