<div class="flex max-w-full p-2 flex-col justify-center items-center mt-15">
	<div class="w-3/4 flex flex-col">
		<div class="w-1/2 flex flex-col justify-self-center self-center justify-center items-center gap-y-4">
			<p class="p-2 text-center text-6xl text-black">SignUp</p>
		</div>
		<div class="flex flex-col justify-center">
			<div class="flex flex-row mt-40 mx-50 justify-center ">
			  <div class="basis-1/4 inline-block align-middle text-3xl ">First Name</div>
			  <input class="basis-1/2 mr-20 focus:outline-none bg-cream text-black  rounded border-2 border-black text-2xl  w-3/4" type="text"/>
			  <div class="basis-1/4 inline-block align-middle text-3xl ">Password</div>
			  <input class="basis-1/2 focus:outline-none bg-cream text-black  rounded border-2 border-black text-2xl  w-3/4" type="text"/>
			</div>
			<div class="flex flex-row mt-10 mx-50 justify-center ">
			  <div class="basis-1/4 inline-block align-middle text-3xl ">Last Name</div>
			  <input class="basis-1/2 mr-20 focus:outline-none bg-cream text-black  rounded border-2 border-black text-2xl  w-3/4" type="text"/>
			  <div class="basis-1/4 inline-block align-middle text-3xl">Confirm Password</div>
			  <input class="basis-1/2 focus:outline-none bg-cream text-black  rounded border-2 border-black text-2xl  w-3/4" type="text"/>
			</div>
			<div class="flex-none flex-row mt-10 mx-50 justify-center ">
				<div class="basis-1/4 inline-block align-middle text-3xl ">Email Address</div>
				<input class="basis-1/4 ml-20 focus:outline-none bg-cream text-black  rounded border-2 border-black text-2xl  w-1/2" type="text"/>
			</div>
			<div class="flex flex-row mt-20 mx-50 justify-center ">
				<button class="basis-1/4 rounded bg-blue hover:bg-blue2 transition-all text-center text-3xl text-cream w-3/4">Sign Up</button>
			</div>
		</div>
	</div>
</div>