@inject NavigationManager NavManager
@inject CPSC481.Classes.StateContainer StateContainer

<div class="w-full flex flex-col justify-self-center self-center justify-center items-center">
	<div class="w-full rounded-md border-rounded border-2 border-black">
		<div class="w-full bg-secondary border-t-0 justify-center items-center rounded-md">
			<div class="w-full flex flex-col justify-start items-center p-3 gap-y-3">
				<h3 class="text-lg text-black font-medium text-left w-full">@trip?.getName()</h3>
				<div class="flex flex-col justify-start items-start w-full">
					<div class="text-sm text-black w-full flex justify-between">
						<p class="font-bold">City: </p>
						<p>@trip?.getCity()</p>
					</div>
					<div class="text-sm text-black w-full flex justify-between">
						<p class="font-bold">Start Date: </p>
						<p>@trip?.getFormatedStartDate()</p>
					</div>
					<div class="text-sm text-black w-full flex justify-between">
						<p class="font-bold">End Date: </p>
						<p>@trip?.getFormatedEndDate()</p>
					</div>
				</div>
				<a href="@url"
					class="p-2 w-full bg-primary hover:bg-primary-2 transition-all text-center text-lg text-secondary rounded">View
					Itinerary</a>
				@if (!StateContainer.isActiveTrip(id))
				{
					<button
					class="p-2 w-full bg-secondary-3 hover:bg-secondary-2 transition-all text-center text-lg text-black rounded"
					@onclick="onClick">Set
						As Active</button>
				}
				else
				{
					<button class="p-2 w-full disabled:bg-green transition-all text-center text-lg text-white rounded"
					disabled>Active</button>
				}
			</div>
		</div>
	</div>
</div>


@code {
	[Parameter]
	public int id { get; set; }
	Trip? trip = null;
	string? url = null;

	protected override void OnInitialized()
	{
		trip = StateContainer.getTripDetails(id);
		StateContainer.OnChange += StateHasChanged;
		url = $"/itinerary/{id}";
	}

	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
	void onClick()
	{
		StateContainer.setActiveTrip(trip?.getName());
	}
}
