@if (Destination == null || Image == null)
{
	<div class="flex flex-col justify-self-center self-center justify-center items-center py-6">
		<div class = "hover:shadow-2xl">
			<div class = "pt-5 rounded-md">
				<img src="images/add.jpg" width="225" height="500"  alt="@Destination icon" />
			</div>
		</div>
	</div>
}
else
{
	<div class="flex flex-col justify-self-center self-center justify-center items-center py-6">
		<p class="text-xl text-center font-bold text-black">@Destination</p>
		<div class = "hover:shadow-2xl">
			<div class = "pt-5">
				<img src="@Image" class="rounded-md" width="225" height="500"  alt="@Destination icon" />
			</div>
			<div class = "z-40" >
				<div class = "bg-cream1 rounded-md justify-center items-center" width = "400">
					<div class="flex flex-col justify-self-center self-center justify-center items-center py-3 gap-y-4">
						<button class="px-4 py-2 rounded bg-blue hover:bg-blue2 transition-all text-center text-xl text-cream">View Itinerary</button>
						<button class="px-4 py-2 rounded bg-blue hover:bg-blue2 transition-all text-center text-xl text-cream">Trip Details</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public string Destination { get; set; } = "";
	[Parameter]
	public string Image { get; set; } = "";
}

