@page "/starttrip"

<PageTitle>Bookie :: Start a Trip</PageTitle>
<StartTrip />

@*
	<div class="flex justify-center items-center w-full">
	<RadzenDatePicker @bind-Value=@value Inline="true" />
	<p>@value</p>
	</div>

	@code {
	DateTime? value = DateTime.Today;
	} *@