.page[b-yrtfgc1hi2] {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
}

main[b-yrtfgc1hi2] {
	flex: 1;
	font-family: "Poppins", sans-serif;
}
