.navbar[b-uo7iy2g7kk] {
	display: flex;
	flex: 1;
	justify-content: space-between;
}

.navbar__item[b-uo7iy2g7kk] {
}

.navbar__item--primary[b-uo7iy2g7kk] {
}

.navbar__item--secondary[b-uo7iy2g7kk] {
}
